<div class="content-body">
  <div class="row justify-content-center">
    <div class="col-md-8 divTitle">
      <span class="reportTitle">Report a problem</span>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-8">
      <form name="form" role="form" (ngSubmit)="register()" [formGroup]="registerForm" *ngIf="!success">
        <div class="form-group">
          <input type="email" class="form-control" id="email" name="email" placeholder="Email" formControlName="email" data-cy="email" />
        </div>

        <div class="form-group">
          <textarea
            type="textarea"
            class="form-control"
            id="details"
            name="details"
            placeholder="Details"
            formControlName="details"
            data-cy="details"
          >
          </textarea>
        </div>

        <button type="submit" class="btn btnSend" data-cy="submit">Send</button>
      </form>
    </div>
  </div>
</div>
