<div class="content-body">
  <div class="row justify-content-center">
    <div class="col-md-8 divTitle">
      <span class="reportTitle">Report a problem</span>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-8">
      <form name="form" role="form" (ngSubmit)="register()" [formGroup]="registerForm">
        <div class="form-group">
          <input type="email" class="form-control" id="email" name="email" placeholder="Email" formControlName="email" data-cy="email" />
        </div>

        <div class="form-group">
          <textarea
            type="textarea"
            class="form-control"
            id="details"
            name="details"
            placeholder="Details"
            formControlName="details"
            data-cy="details"
          >
          </textarea>
        </div>

        <div class="avatar-list">
          <div class="uploadImage">
            <div class="avatar-edit">
              <input type="file" id="imageUpload" accept=".png, .jpg, .jpeg" #fileInput (change)="uploadFile($event)" />
            </div>
            <button type="button" class="btn btn-upload"><span>+</span></button>
          </div>
          <div class="avatar-preview" *ngFor="let imageUrl of urlFilesList">
            <div id="imagePreview" [style.backgroundImage]="'url(' + imageUrl + ')'"></div>
          </div>
        </div>

        <button type="submit" class="btn btnSend" data-cy="submit">Send</button>
      </form>
    </div>
  </div>
</div>
